@import "tailwindcss";

@theme {
	--spacing-content: 72rem;
	--spacing-content-padding: 2rem;

	--font-mono: "IBM Plex Mono", monospace;
	--font-sans: "Lexend Variable", sans-serif;
	--font-serif: "Fraunces Variable", serif;

	--color-neutral: #ffffff;
	--color-neutral-dark: #f4f6f9;
	--color-neutral-darker: #e6e9f0;
	--color-prose: #5c5b85;

	--color-indigo: #3333cc;
	--color-indigo-dark: #0909aa;
	--color-indigo-darker: #010080;
	--color-indigo-darkest: #05052e;
	--color-indigo-fg: #ffffff;

	--color-gold: #fec808;
	--color-gold-fg: #ffffff;

	--color-segment-light: #163a73;
	--color-segment-dark: #081526;
}

@layer theme {
	p {
		@apply text-prose;
	}
}

@layer utilities {
	.typography-header {
		@apply text-4xl font-serif font-semibold pb-6 leading-10;
	}
}
